<%= link_to root_path,
    class: "dropdown-item #{"unread" if !notification.read_at?}", style:"color:#000000" do %>

  Your account has been verified
  <div class="dropdown-divider"></div>

<% end %>
