<div class="panel panel-default">
  <div class="panel-body">

    <div class="jumbotron">
      <h1><small>You are not authorized to view this page.</small></h1>
      <p>If your membership is pending, we will notify you when you're good to go.<p>
      <p><%= link_to "Sign in", new_user_session_path, type:"button", class:"btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
